/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.sidebar {
  display: grid;
  background-color: #3292d4;
  grid-template-rows: 10% 1fr 1fr;
}

.main-nav svg {
  width: 1.4em;
}

.main-nav ul li {
  display: flex;
}

.secondary-nav svg {
  width: 1.4em;
}

.secondary-nav ul li {
  display: flex;
}

#logo-img {
  width: 1.4em;
  fill: white;
}

.logo {
  display: flex;
  font-size: 1.7rem;
  padding: 1rem 0;
  justify-content: center;
  color: white;
}

.main-content-container svg {
  width: 1.4em;
}

.main-nav ul li,
.secondary-nav ul li {
  fill: white;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.main-nav ul li a,
.secondary-nav ul li a {
  color: white;
  text-decoration-line: none;
}

.main-nav ul li a:hover,
.secondary-nav ul li a:hover {
  color: rgb(205, 205, 205);
  text-decoration-line: underline;
}

.main-nav ul li svg,
.secondary-nav ul li svg {
  margin-right: 1rem;
}

#svg-logo {
  fill: white;
}
